<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Tags-->
    <title>
        Ecumene | {% block title %} {% endblock %}
    </title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon/favicon32.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/favicon/favicon16.ico">
    <!-- CSS -->
    <link type="text/css" href="/static/assets/css/ecumene.css" rel="stylesheet">
</head>

<body>
    {% include 'includes/header.html' %}
    <nav>
        <a href="{{ url_for('index') }}">Ecumene</a>
        <a href="#">About</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
