[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
pyyaml = "*"
py-cord = "*"
flask = "*"
sqlalchemy = {extras = ["oracle"], version = "*"}

[dev-packages]
pytest = "*"

[pipenv]
allow_prereleases = true
