[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "2.27.1"
python-dotenv = "0.19.2"
pyyaml = "6.0"
py-cord = "*"
flask = "2.0.2"
cx-Oracle = "8.3.0"
sqlalchemy = "1.4.31"

[dev-packages]
pytest = "*"

[pipenv]
allow_prereleases = true