{% extends 'layouts/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <!-- Masthead-->
    <header class="masthead bg-body text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-5" src="static/assets/img/ecumene.png" alt="Ecumene Logo" />
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Ecumene</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><object class="divider-custom-icon-img svg-white" data="static/assets/img/d2.svg" type="image/svg+xml"></object></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Discord Bot - Destiny Integration - Clan Management</p>
        </div>
    </header>
    <!-- About -->
    <section class="page-section bg-white text-dark mb-0" id="About">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-dark">About</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-dark">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><object class="divider-custom-icon-img svg-dark" data="static/assets/img/d2.svg" type="image/svg+xml"></object></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="col-lg-auto ms-0"><p class="lead">Ecumene is a Discord bot that provides clan management services for Destiny 2 through a series of simple commands. Unlike other popular tools, this bot empowers clan leaders with the ability to monitor member activity and automate approvals or removals.</p></div>
            <div class="col-lg-auto ms-0"><p class="lead">With a bit of savvy, you can host your own instance of this website and bot. Please download the source code and follow instructions from there. Alternatively, contact the developers directly.</p></div>
            <!-- About Section Button-->
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-dark" href="https://github.com/xant-tv/ecumene">
                    <i class="fab fa-github me-2"></i>
                    Source Code
                </a>
            </div>
        </div>
    </section>
{% endblock %}